body{
  background-image: url(./img/fondo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}


.brand-logo{
  font-family: 'Grand Hotel', cursive;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color:#390a54;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color:#390a54;
}

.altura{
  min-height: 100vh;
}

.intro{
  vertical-align: middle; 
  display: inline-block; 
  height: 100%;
}

p.projects{
  font-size: 1.2em;
}

morado{
  color:#390a54;
}


hr{
  height: 2px;
  background-color: #f7b913;
  border: 0px;
}
nav{
  background-color: #390a54;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(133, 73, 73, 0);
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
}
